[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ansible-lint = "~=4.2.0"
yamllint = "~=1.20.0"
pre_commit = "~=1.21.0"

[packages]
ansible = "~=2.9.9"
jmespath = "~=0.10.0"
github3-py = "~=1.3.0"
python-apt = {git = "https://salsa.debian.org/apt-team/python-apt",ref = "1.8.2",sys_platform = "linux" }
