# {{ ansible_managed }}
{% for configGroup in (mysql.config.global | dict2items) %}
[{{ configGroup.key|string }}]
{% for settings in configGroup.value %}
{% for setting in settings|dict2items %}
{{ (setting.key | string) + '=' + (setting.value | string) }}
{% endfor %}
{% endfor %}
{% endfor %}
