[Desktop Entry]
Name=Stoplight Studio
Icon=/usr/share/icons/hicolor/256x256/apps/stoplight-studio.png
Comment=Graphical API Design
GenericName=Graphical API Design
Exec=env SPOTLIGHT_DESKTOP_FILE_HINT=~/usr/share/applications/stoplight-studio.desktop ~/.local/bin/stoplight-studio 
Type=Application
StartupNotify=false
Categories=Utility;Development;API;
MimeType=text/plain;inode/directory;
Keywords=stoplight;
StartupWMClass=stoplight studio