{% for credential, values in aws.credentials.items() %}
{{'[' + (credential|string) + ']' }}
{% for key, value in values.items() %}
{{ (key|string) + ' = ' + (value|string)}}
{% endfor %}
{% endfor %}
